body {
	background-color: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.header {
	overflow: hidden;
	padding: 10px;
}

.container {
	width: 80%;
	margin: 0 auto;
	border: 2px solid white;
	padding: 20px;
	overflow: hidden;
	position: relative;
}

.character {
	float: left;
}

.avatar-section,
.status {
	box-sizing: border-box;
	margin-right: 2%;
	text-align: center;
}

.avatar-section img {
	width: 200px;
	height: 200px;
	border: 2px solid white;
}

.status_child {
	width: 200px;
	border: 2px solid white;
	padding: 10px;
	font-size: 1.1em;
}

.subject {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.subject label {
	width: 400px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 30px;
	padding: 10px;
	border: 2px solid white;
	text-decoration: none;
	font-size: 1.5em;
}

input {
	display: none;
}

#overlay {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 70;
	width: 100%;
	height: 100%;
}

#bg_gray {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 80;
}

#window {
	width: 30%;
	height: 50%;
	padding: 20px;
	position: fixed;
	left: 55%;
	top: 40%;
	transform: translate(-50%, -50%);
	background-color: black;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.6);
	z-index: 90;
	opacity: 0;
}

#btn_cloth {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	border-radius: 5px;
	z-index: 100;
	cursor: pointer;
}

#btn_cloth:hover {
	opacity: 0.7;
}

#btn_cloth span,
#btn_cloth span::before {
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #fff;
}

#btn_cloth span {
	transform: rotate(45deg);
}

#btn_cloth span::before {
	content: "";
	position: absolute;
	bottom: 0;
	transform: rotate(-90deg);
}

#popup:checked~#overlay {
	visibility: visible;
}

#popup:checked~#overlay #window {
	animation: fadein 500ms forwards;
	animation-timing-function: ease-in-out;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

body {
	margin: 30px;
}


#txt_label {
	cursor: pointer;
}

#txt_label:hover {
	opacity: 0.7;
}

#msg {
	display: flex;
	flex-flow: column;
	text-align: center;
	line-height: 50px;
}

#msg a {
	width: 50%;
	display: inline-block;
	color: white;
	background: black;
	border: 2px solid white;
	padding: 0.5em 1.5em;
	margin: 50px 0 30px 80px;
	text-decoration: none;
	font-size: 1.5em;
}

#msg a:hover {
	opacity: 0.7;
}

.mypage {
	display: block;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	border: 2px solid white;
	width: 30%;
	font-size: 1.5em;
	text-decoration: none;
}