<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
    version="6.0">

  <!-- アプリケーション名の表示 -->
  <display-name>Dosukoi-Analytics</display-name>

  <!-- サーブレットの定義 -->
  <servlet>
      <servlet-name>dungeonServlet</servlet-name>
      <servlet-class>servlet.dungeonServlet</servlet-class> <!-- 完全修飾クラス名 -->
  </servlet>

  <!-- サーブレットマッピング -->
  <servlet-mapping>
      <servlet-name>dungeonServlet</servlet-name>
      <url-pattern>/dungeonServlet</url-pattern> <!-- ここがURLマッピング -->
  </servlet-mapping>

  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

</web-app>
